.mno{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#name1{
    box-sizing: border-box;

position: absolute;
width: 255.44px;
height: 51.12px;
left: 125px;
top: 556px;

background: #FFFFFF;
border: 3px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 25px;
}

#phone1{
    box-sizing: border-box;

position: absolute;
width: 255.44px;
height: 51.12px;
left: 661px;
top: 556px;

background: #FFFFFF;
border: 3px solid #000000;
border-radius: 25px;
}

#age1{
    box-sizing: border-box;

    position: absolute;
    width: 255.44px;
    height: 51.12px;
    left: 122px;
    top: 712px;
    
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 25px;
    
}

#email1{
    box-sizing: border-box;

    position: absolute;
    width: 255.44px;
    height: 51.12px;
    left: 122px;
    top: 712px;
    
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 25px;
    
}
#bgroup{
    box-sizing: border-box;

    position: absolute;
    width: 255.44px;
    height: 51.12px;
    left: 122px;
    top: 712px;
    
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 25px;
}
#gender{
    box-sizing: border-box;

    position: absolute;
    width: 255.44px;
    height: 51.12px;
    left: 122px;
    top: 712px;
    
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 25px;
}

#add{
    box-sizing: border-box;

    position: absolute;
    width: 255.44px;
    height: 51.12px;
    left: 122px;
    top: 712px;
    
    background: #FFFFFF;
    border: 3px solid #000000;
    border-radius: 25px; 
}
.btn-dark{
    position: relative;
    left: 300px;
    right:100px;
    width: 80%;
    left: 0%;
    top: 15px;
    border-radius: 35px;
}